
body{
    background-image: url(/img/stockphotos/sky.jpg);
}
nav{
    position: relative;
    float: right;
}
header{
    height: 130px;
}
main{
    position: relative;
    height: 800px;
    padding: 200px;
}
section{
    position: relative;
}
li{
    position: relative;
    list-style-type: none;
    float: right;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    position: relative;
    float: left;
    margin: 0px;
}
#navLinks img{
    height: 20px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
}
#frame{
    position: relative;
    height: 800px;
}
#aboutus{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 1;
    padding: 130px;
    font
}