@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body{
    background-image: url(/img/stockphotos/sky.jpg);
}
#mainLogo{
    padding-top: 10px;
    width: 80px;
}
nav{
    position: relative;
    float: right;
}
header{
    height: 130px;
}
main{
    position: relative;
    height: 400px;

}
section{
    position: relative;
}
li{
    position: relative;
    list-style-type: none;
    float: right;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    position: relative;
    float: left;
    margin: 0px;
}
#navLinks img{
    height: 20px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
}
#frame{
    position: relative;
    height: auto;
    margin: 0px;
    padding-top: 0px;
    width: 1900px;
    padding-left: 150px;

}
#aboutus{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 1;
    padding: 130px;
}

#aboutus {
    padding-left: 500px;
}