body{
    margin: 0;
    background-image: url(/img/stockphotos/sky.jpg);
    z-index: -2;

}
nav{
    position: relative;
    margin-top: 0px;
    float: right;
    
}
header{
    height: 130px;
}

li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    float: right;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    position: fixed;
    float: left;
    margin: 0px;
    padding-left: 15px;
    padding-top: 0px;
    display: inline-block;
}
.container{
    padding-left: 50%;
    padding-top: 5%;
}
.main{
    color: seashell;
}
#sky{
    width: 100%;
    position: fixed;
    bottom: 0;}
#grass{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    z-index: -1;
}
#navLinks img{
    height: 20px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
}
input[type=text], input[type=password] {
    width: 350 px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .container1{
      width: 450px;
      margin: auto;
  }
  .container2{
    width: 450px;
    margin: auto;
}
.mainCont{
    margin-top: 100px;
    text-align: center;

}
input{
    border-radius: 20px;
    background-color: rgb(200, 232, 243);
}
#submitbtn:hover{
    background-color: pink;
}

button img{
    width: 20px;
    height: 20px;
}
