@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    background-image: url(/img/stockphotos/sky.jpg)
}
#mainLogo{
    padding-top: 10px;
    width: 80px;
}
nav{
    position: relative;
    margin-top: 0px;
    float: right;
}
header{
    height: 130px;
}
li{
    position: relative;
    list-style-type: none;
    /* display: inline-block; */
    float: right;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    position: relative;
    float: left;
    margin: 0px;
    padding-left: 15px;
    padding-top: 0px;
    /* display: inline-block; */
}
.container{
    padding-left: 50%;
    padding-top: 5%;
}
.main{
    color: seashell;
}
#sky{
    width: 100%;
    position: fixed;
    bottom: 0;}
#fence{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
}
#navLinks img{
    height: 20px;
    /* display: inline-block; */
    position: relative;
    float: right;
    margin-right: 20px;
}

#userDog {
    width: 300px;
    border-radius: 50%;
    padding: 2px;
    border:1px solid #ffffff;
    background-color:rgb(255, 255, 255);
}
#guestDog{
    width: 300px;
    border-radius: 50%;
    padding: 2px;
    border:1px solid #ffffff;
    background-color:rgb(255, 255, 255);
}
#userDog{
width: 200px;
}
#guestDog{
width: 200px;
}

button#logout{
    width: 150px;
    height: 45px;
    font-size: 20px;
    position: relative;
    margin-top: 30px;
    background-color: transparent;
    border: none;
}

button img{
    width: 20px;
    height: 20px;
}