@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body{
    margin: 0;
    background-image: url("../img/stockphotos/sky.jpg")
}
#mainLogo{
    padding-top: 10px;
    width: 80px;
}
nav{
    position: relative;
    margin-top: 0px;
    float: right;
    font-size: 20px;
}
header{
    height: 130px;
}
nav li{
    position: relative;
    list-style-type: none;
    /* display: inline-block; */
    float: right;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    position: relative;
    float: left;
    margin: 0px;
    padding-left: 15px;
    padding-top: 0px;
    /* display: inline-block; */
}
.container{
    padding-left: 50%;
    padding-top: 5%;
}
.main{
    color: seashell;
}
#sky{
    width: 100%;
    position: fixed;
    bottom: 0;}
#fence{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    z-index: -1;
}
#navLinks img{
    height: 40px;
    /* display: inline-block; */
    position: relative;
    float: right;
    margin-right: 20px;
}

#userDog{
width: 200px;
}
#guestDog{
width: 200px;
}

button#logout{
    width: 200px;
    height: 45px;
    font-size: 30px;
    position: relative;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#logout{
    position:fixed;
    right: 10px;
    top: 5px;
    width: 100px;
    height: 50px;
    border-radius: 40%;
    font-size: 20px;

}

button img{
    width: 20px;
    height: 20px;
}
h2 img{
    width: 300px;
    border-radius: 50%;
    padding: 2px;
    border:1px solid #ffffff;
    background-color:rgb(255, 255, 255);
}

#guestDog{
    position: absolute;
    top: 100px;
    right: 150px;
}
#userDog ul{
    list-style: none;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

#guestDog ul{
    list-style: none;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-left: 20px;
}

.guestInteraction{
    text-align: right;

}
#textField{
    width: 1000px;
    margin: auto;
    margin-top: 420px;
    font-size: 30px;
    line-height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
#textField li{
    list-style: none;
}

h2#userDog{
    position: absolute;
    left: 50px;
    top:100px;
}
h2{
    text-align: center;
    font-family: 'Fredoka One', cursive;

}

#divider{
    /* position: absolute;
    width: 900px;
    height: 450px;
    top: 450px;
    right: 725px;
    z-index: 999999; */
    margin-left: 850px;
    margin-top: 300px;
    z-index: 3;
    position: fixed;
}
