
body{
    margin: 0;
    background-image: url(/img/stockphotos/sky.jpg)

}
nav{
    position: relative;
    margin-top: 0px;
    float: right;
    
}
header{
    height: 130px;
}

li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    float: right;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    position: fixed;
    float: left;
    margin: 0px;
    padding-left: 15px;
    padding-top: 0px;
    display: inline-block;
}
.container{
    padding-left: 50%;
    padding-top: 5%;
}
.main{
    color: seashell;
}
#sky{
    width: 100%;
    position: fixed;
    bottom: 0;}
#grass{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
}
#navLinks img{
    height: 20px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
}
#profilePic{
    height: 300px;
    margin-left: 30%;
    margin-right: 70%;
}