@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    margin: 0;
    background-image: url(/img/stockphotos/sky.jpg);
    z-index: -2;

}
#mainLogo{
    padding-top: 10px;
    width: 80px;
}
nav{
    position: relative;
    margin-top: 0px;
    float: right;
    
}
header{
    height: 60px;
}

nav li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    float: right;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    position: fixed;
    float: left;
    margin: 0px;
    padding-left: 15px;
    padding-top: 0px;
    display: inline-block;
}
.container{
    padding-left: 50%;
    padding-top: 5%;
}
.main{
    color: seashell;
}
#sky{
    width: 100%;
    position: fixed;
    bottom: 0;}
#grass{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    z-index: -1;
}
#navLinks img{
    height: 20px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
}


#petCardsOwned {
    height: 500px;
    margin: 50px;

}

h2{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

#petCardsOwned h3 {
    margin: 0px;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    color: rgba(2, 38, 105, 0.733);
}

#petCardsOwnedList img{
    width: 200px;
    margin: 0px 25px;
    border-radius: 15px;
}

h2 img{
    width: 30px;
}
#paw{
    width:30px;
}

#petCardsOwned div{
    float:left;
    height: 450px;
    width: 250px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    background-image: url(/img/bone.png);
    text-align: center;
    box-shadow: 10px 5px 5px rgb(139, 139, 139);
    
}
#petCardsOwned div ul{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: rgba(41, 27, 1, 0.692);
}
#collection {
    margin: 50px;
}

#collection h3 {
    margin: 5px;
    font-size: 30px;
    font-family: 'Boogaloo', cursive;
    text-align: center;
    color: rgba(2, 38, 105, 0.733);
}

#collectionList img{
    width: 100px;
    margin: 0px 25px;
    border-radius: 15px;
}


#collection div{
    float:left;
    height: 150px;
    width: 145px;
    margin: 10px;
    margin-top: 0px;
    background-color: rgb(199, 233, 155);
    border-radius: 15px;
    padding: 15px;
    background-image: url(/img/bone.png);
    box-shadow: 10px 5px 5px rgb(139, 139, 139);

}
